@(users : List[User])

    @main("Profile") {
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <h2>All USERS</h2>
                                    </div>
                                </div><!--/row-->
                                @for(user <- users) {

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2">
                                            <h4>@user.getUserName()</h4>
                                        </div>

                                        <div class="col-xs-12 col-sm-2">
                                            <p><small> Friend </small></p>
                                            <button type="submit" class="btn btn-success btn-block">
                                                <a href='@routes.WorkflowController.newWorkflow()'> New Workflow </a>
                                            </button>
                                        </div><!--/col-->

                                        <div class="col-xs-12 col-sm-2">
                                            <p><small> Subscribe </small></p>
                                            <button type="submit" class="btn btn-danger btn-block">
                                                <a href='@routes.WorkflowController.viewAllWorkflows()'> View Workflows </a>
                                            </button>
                                        </div><!--/col-->
                                    </div><!--/row-->
                                }
                        </div><!--/panel-body-->
                    </div><!--/panel-->
                </div>
            </div>
        </div>
    }
