
@(workflows: List[metadata.WorkflowService])
@import helper._

@scripts = {
    <script src='@routes.Assets.at("javascripts/edit_button.js")'></script>
    <script type="text/javascript">
            $(document).ready(function(){

            });
    </script>
}


@main("ViewAllWorkflows", scripts) {

    @flash_message()

    <h1>@workflows.size() Workflows Services</h1>
        <table class="table table-striped table-bordered table-condensed ex2 tablesorter" id = "csTable">
        <thead>
    <tr>
        <th class="col-md-2">Workflow Service Name</td>
        <th class="col-md-4">Description</td>
        <th class="col-md-2">Image Url</td>
        <th class="col-md-2">Input</td>
        <th class="col-md-2">Output</td>
        <th class="col-md-2">Contributors</td>
        <th class="col-md-2">Tags</td>
        <th class="col-md-2">Links</td>
        <th class="col-md-2">Instructions</td>
    </tr>
    </thead>


    @for(workflow <- workflows){
        <tr>

            <td><font size="3">
            @workflow.getName()</font></td>

            <td><font size="3">
            @workflow.getDescription() </font></td>

            <td class = "text-center" >
                <a href = "@{workflow.getUrl()}">
                    <img src='@workflow.getPhoto()' style="height: 150px; width: 150px" >
                </a></td>

            <td><font size="3">
            @workflow.getInput() </font></td>

            <td><font size="3">
            @workflow.getOutput() </font></td>

            <td><font size="3">
            @workflow.getContributors() </font></td>

            <td><font size="3">
            @workflow.getTags() </font></td>

            <td><font size="3">
                <a href = "@{workflow.getLinks()}">
                @workflow.getLinks() </a></font></td>

            <td><font size="3">
            @workflow.getInstructions() </font></td>

        </tr>
    }
    </table>


    @if(false){
        @form(routes.WorkflowController.downloadWorkflowService(), 'class -> "form-horizontal", 'role -> "form") {
            <button type="submit" name="action" value="download">Download</button>
        }
    }


}