@(posts: List[models.NewPost])
@import helper._
@main("Forum") {
      
    <!-- Start of Search Wrapper -->
    <div class="search-area-wrapper">
        <div class="search-area container" >
            <h3 class="search-header">Work Flow Forum</h3>
            <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
                <input class="search-term required" type="text" id="s" name="s" placeholder="Type your search terms here" title="* Please enter a search term!" />
                <input class="search-btn" type="submit" value="Search" />
                <div id="search-error-container"></div>
            </form>
        </div>
    </div>
    <!-- End of Search Wrapper -->
         
	<!-- Start of Page Container -->
    <h3>All Posts</h3>
	@for(post <- posts){
    	<div class="page-container">
        	<div class="container">
       			<!-- start of page content -->
               	<div class="span8 page-content">
       				<section class="span4 articles-list">

                       	<ul class="articles">
                            <li class="article-entry standard">
                                    <h4><a href="@{routes.ForumController.toSingle2(post.getId())}">@post.getTitle()</a></h4>
                                    <p>@post.getContent</p>
                            </li> 
                    	</ul>
            		</section>
 				</div>
                	<!-- end of page content -->           
              </div>
         </div>      
          
	}

}
