@(form: Form[Application.Login])

@stylesheets = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
}

@main("Login", stylesheets) {

<div class="container">

    @helper.form(routes.Application.authenticate) {

            <div class="form-signin">
                <h2>Please Sign in</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
    }

</div> <!-- /container -->

}
