@(user: User)

    @main("Profile") {
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-xs-12 col-sm-8">
                                    <h2>Adam Li</h2>
                                    <p><strong>About: </strong> Professor </p>
                                    <p><strong>Email: </strong> @user.getEmail() </p>
                                    <p><strong>Research Interests: </strong> 18655 </p>
                                </div>
                                <div class="col-xs-12 col-sm-4 text-center">
                                    <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class="center-block img-circle img-responsive">
                                    <ul class="list-inline ratings text-center" title="Ratings">
                                        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                    </ul>
                                </div><!--/col-->


                                <div class="col-xs-12 col-sm-4">
                                    <p><small> Create New Workflow </small></p>
                                    <button type="submit" class="btn btn-success btn-block">
                                        <a href='@routes.WorkflowController.createNewWorkFlow()'> New Workflow </a>
                                    </button>
                                </div><!--/col-->


                                <div class="col-xs-12 col-sm-4">
                                    <p><small> View Workflows </small></p>
                                    <button type="submit" class="btn btn-danger btn-block">
                                        <a href='@routes.WorkflowController.viewAllWorkflows()'> View Workflows </a>
                                    </button>
                                </div><!--/col-->

                                <div class="col-xs-12 col-sm-4">
                                    <p><small> Start Discussion </small></p>
                                    <button type="submit" class="btn btn-info btn-block">
                                        <a href='@routes.ForumController.startDiscuss()'> Discuss Forum </a>
                                    </button>
                                </div><!--/col-->

                                <div class="col-xs-12 col-sm-4">
                                    <p><small> View Friends</small></p>
                                    <button type="submit" class="btn btn-toolbar btn-block">
                                        <a href='@routes.RelationshipController.getFriendsList()'> Friends </a>
                                    </button>
                                </div><!--/col-->

                                <div class="col-xs-12 col-sm-4">
                                    <p><small> View Group</small></p>
                                    <button type="submit" class="btn btn-warning btn-block">
                                        <a href='@routes.RelationshipController.getGroup()'> Groups </a>
                                    </button>
                                </div><!--/col-->


                            </div><!--/row-->
                        </div><!--/panel-body-->
                    </div><!--/panel-->

                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item active">
                                    <h4 class="list-group-item-heading">Eating</h4>
                                    <p class="list-group-item-text">sichuan gourmet,How Lee...</p>
                                </a>
                            </div>
                            <div class="list-group">
                                <a href="#" class="list-group-item active">
                                    <h4 class="list-group-item-heading">Traveling</h4>
                                    <p class="list-group-item-text">Chicago,New York...</p>
                                </a>
                            </div>
                            <div class="list-group">
                                <a href="#" class="list-group-item active">
                                    <h4 class="list-group-item-heading">Playing</h4>
                                    <p class="list-group-item-text">DOTA,LOL...</p>
                                </a>
                            </div>
                            <div class="form-group" align="center">
                                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true">
                                    <a href='@routes.Application.signup()'></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
